<configuration>
	<connectionStrings>
		<add name="CCMSConnection" connectionString="Driver={SQL Server};Server=192.168.166.10;Database=CCMS_WS;Uid=sa;Pwd="/>
	</connectionStrings>
	<system.webServer>
		<defaultDocument enabled="true">
			<files>
				<clear/>
				<add value="CourtList.aspx"/>
        <add value="CourtList2.aspx"/>
          </files>
		</defaultDocument>
	</system.webServer>
	<system.web>
		<compilation debug="true"/></system.web></configuration>
